:root{
    --oo:#000000;
    --lb:#11a4c1;
    --bb:#ffffff;
    --ww:#092039;
    --gg:#525252;
}

h2 {
    color: black
}


.scedCount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

li {
    list-style: none;
    padding:  10px;
    background-color: var(--bb);
    width: 300px;
    height: auto;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
}

ol {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex: 1;
}


