:root{
    --oo:#000000;
    --lb:#11a4c1;
    --bb:#ffffff;
    --ww:#092039;
    --gg:#525252;
}
body{
    height: 2000px;
    width: 100%;
    background-color: #fff7ee;

}
h1{
    font-size: 200px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--bb);
    text-shadow: 0 10px 6px #212121 ;
   
}
h1:hover{
    transform: scale(1.01);

}
 .head p{
    color: var(--oo);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.navbar{
    background-color: var(--ww);
    height: auto;
    width: 100%;
}
.logo-text{
    color: var(--lb);
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}
span{
    color: var(--bb);
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 690px;
    width: 100%;
    background-image: url("https://resources.finalsite.net/images/f_auto,q_auto/v1642250921/gulfshoresalgov/sfmc0dcp1hruvmmu82hi/Gulf.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    box-shadow: 0 10px 6px #bebebe;
}

.header:visited {
    background-image: url('https://resources.finalsite.net/images/f_auto,q_auto/v1642250921/gulfshoresalgov/sfmc0dcp1hruvmmu82hi/Gulf.jpg"');
}
.btn1{
    color: var(--bb);
    background-color: var(--oo);
    border: none;
    border-radius: 0px;
    height: 60px;
    width: 310px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 5px 6px #212121 ; 
    margin: 20px;
    
}
.btn1:hover{
    background-color: rgb(52, 80, 240);
    box-shadow: 0 5px 6px #bebebe ;
}
.btn2{
    color: var(--ww);
    background-color: var(--lb);
    border: none;
    border-radius: 0px;
    height: 60px;
    width: 310px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 5px 6px #212121 ;
    margin: 20px;
   
}
.btn2:hover{
    background-color: rgb(52, 80, 240);
    box-shadow: 0 5px 6px #bebebe ;
}

.btn3{
    color: var(--ww);
    background-color: var(--gg);
    border: none;
    border-radius: 0px;
    height: 60px;
    width: 310px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 5px 6px #212121 ;
    margin: 20px;
   
}
.btn3:hover{
    background-color: rgb(52, 80, 240);
    box-shadow: 0 5px 6px #bebebe ;
    

}


.b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.signupbtn{
    height: 40px;
    width: 100px;
    color:#fff7ee;
    background-color: var(--oo);
    padding: 5px;
    border: none;
    border-radius: 0px;
    font-size: 20px;
    margin-right: 10px;
}
.loginbtn{
    height: 40px;
    width: 100px;
    color:#bebebe;
    background-color: var(--bb);
    padding: 2px;
    border: 2px solid #bebebe;
    border-radius: 0px;
    font-size: 20px;


}
.signupbtn:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 4px #bebebe ;
    transform: scale(1.1);
    color: black;
}
.loginbtn:hover{
    background-color: #000000d2;
    box-shadow: 0 4px 4px #bebebe;
    transform: scale(1.1);
    color: white;
}
.row > h1{
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
    text-shadow: 0 4px 6px #212121;
    margin: 10px 100px;
    
}

#searchbar{
    height: 40px;
    background-color: (var --bb);
    width: 500px;
    border: none;
    border-radius: 0px;
    background-color: var(--ww);
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}

footer {
    background-color: var(--ww);
    padding: 40px;
}

#contact p {
    font-size: 40px;
    color: var(--bb);
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

#Fb img {
    height: 140px;
    width: 140px;
}

